* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #b4ddf0;
    position: relative;
}

.box {
    width: 20%;
    height: 20%;
    border: 2px solid blue;
    position: absolute;
}

.left {
    left: 10px;
}

.right { 
    right: 10px;
}

#zero {
    top: 0%
}

#ten {

}

#twenty {
    top: 20%;
}

#thirty {
    top: 20%;
}

#forty {
    top: 40%
}

#fifty {
    top: 40%;
}

#sixty {
    top: 60%
}

#seventy {
    top: 60%
}

#eighty {
    top: 80%
}

#ninety {
    top: 80%;
}

.pengubox {
    width: 100vw;
    height: 100vh;
    border: 10px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

.penguin {

}

.mtnbox {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mtn {
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 100%;
    background-color: #7ac1e4;
    rotate: 45deg;
    position: absolute;
    bottom: -20px;
}

.mtn.front {
    left: 75px;
}

.mtn.behind {
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 100%;
    background-color: #7ac1e4;
    opacity: 0.8;
    bottom: 90px;
}

.progtext {
    width:150%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
    rotate: -45deg;
}

h1 {
    font-family: monospace;
    color: teal;
}

h1:before{
    content: '';
    font-size: 150%;
    animation-name: head;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

@keyframes head {
    0% {font-size:150%; opacity:1; content: "Begin!"}
    9.99% {font-size: 100%;
        opacity: 0; content:"Begin!";
    }
    10% {
        font-size: 150%; opacity: 1; content: "Waking up...";
    }
    19.99% {
        font-size: 100%; opacity: 0; content: "Waking up..."; 
    }
    20% {
        font-size: 150%; opacity: 1; content: "Gathering Penguin Friends...";
    }
    29.99% {
        font-size: 100%; opacity: 0; content: "Gathering Penguin Friends...";
    }
    30% {
        font-size:150%; opacity:1; content:"Marching..."
    }
    39.99% {
        font-size: 100%; opacity: 0; content: "Marching...";
    }
    40% {
        font-size:150%; opacity:1; content:"Locating Hill..."
    }
    49.99% {
        font-size: 100%; opacity: 0; content: "Locating Hill...";
    }
    50% {
        font-size:150%; opacity:1; content:"Downhill Sledding..."
    }
    59.99% {
        font-size: 100%; opacity: 0; content: "Downhill Sledding...";
    }
    60% {
        font-size:150%; opacity:1; content:"Plummeting Toward Cliff..."
    }
    69.99% {
        font-size: 100%; opacity: 0; content: "Plummeting Toward Cliff...";
    }
    70% {
        font-size:150%; opacity:1; content:"Diving Into Ocean...";
    }
    79.99% {
        font-size: 100%; opacity: 0; content: "Diving Into Ocean...";
    }
    80% {
        font-size:150%; opacity:1; content:"Searching For Fish...";
    }
    89.99% {
        font-size: 100%; opacity: 0; content: "Searching For Fish...";
    }
    90% {
        font-size:150%; opacity:1; content:"Catching Dinner...";
    }
    99.99% {
        font-size: 100%; opacity: 0; content: "Catching Dinner...";
    }
    100% {
        font-size:150%; opacity:1; content:"WE MADE IT!";
    }
}
