* { padding: 0; margin: 0; box-sizing: border-box; }

h1 {
    margin: 10px;
    font-family: cursive;
    color: teal;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.rows {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.links {
    margin: 10px;
    width: 100px;
    height: 100px;
}
a {
 font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}