* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, rgb(26, 226, 149), rgb(30, 128, 153));
}

.box_container {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: relative;
}

.box {
    width: 150px;
    height:150px;
    background-color: teal;
    position: absolute;
    transition: all 3s;
    transition-timing-function: linear;
}

.box_container:hover .box {
    transform: rotateZ(360deg) rotateY(180deg);
    background-color: rgb(189, 165, 30);
}